<h1>Experiments</h1>

<ul>
  <li>Addition: <%= 1+3 %></li>
  <li>Concatenation: <%= "cow" + "boy" %></li>
  <li>Time in one hour: <%= 1.hour.from_now.localtime %></li>
<ul>

<ul>
  <% @files.each do |file| %>
    <li>file name is: <%= file %></li>
  <% end %>
</ul>
